* {
    margin: 0;
    padding: 0;
    font-size: 10px;
    font-family: 'Montserrat', sans-serif;

}

body {
    max-width: 1920px;
    margin: 0 auto;
}

.header {
    background-image: url(1920.jpg);
    background-position: center;
    background-size: cover;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    color: white;
}

.arrow {
    position: absolute;
    border-style: none;
    top: 50%;
    left: 50%;
    width: 50px;
    height: 50px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    background-color: black;
    box-shadow: 0px 0px 20px 0px white;
    cursor: pointer;
    overflow: hidden;
    transition: 0.3s;
}

.arrow .fas {
    transform: translateY(-35px);
    font-size: 30px;
    color: white;
    text-shadow: 0 -12px 0 white, 0 -24px 0 white;
    animation: arrow 1s linear infinite;
}

@keyframes arrow {
    100% {
        transform: translateY(55px);
    }
}

.welcome {
    width: 100%;
}

.welcome nav {
    display: none;
}

.burger aside {
    z-index: 1;
}

.s1,
.s2,
.s3,
.s4,
.s5 {
    display: block;
    font-size: 20px;
    margin: 13px auto;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.3s linear;
}


.welcome p {
    text-align: center;
    width: 100%;
    font-size: 2.5rem;
}

.welcome h1 {
    font-size: 2.5rem;
    text-align: center;
    width: 100%;
}

.welcome h2 {
    text-align: center;
    width: 100%;
    font-size: 1.5rem;
}

.welcome .hello {
    margin-top: 150px
}

.middle {
    position: absolute;
    top: 85%;
    width: 100%;
    text-align: center;
}

.btn {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: black;
    margin: 10px;
    border-radius: 30%;
    box-shadow: 0px 0px 20px 0px white;
    color: white;
    transition: 0.3s linear;
}

.btn i {
    line-height: 50px;
    font-size: 26px;
}

.line {
    position: absolute;
    transform: translateY(-50%);
    width: 100%;
    top: 100%;
    left: 0;
    border-top: 8px dashed white;
}

a:hover {
    color: red;
}

.btn:hover {
    box-shadow: 0px 0px 40px 0px red;
}

.arrow:hover {
    box-shadow: 0px 0px 40px 0px red;
    background-color: black;
}

.arrow:hover .fas {
    color: white;
    text-shadow: 0 -12px 0 white, 0 -24px 0 white;
}

@media (orientation: landscape) and (min-width: 568px) {
    .middle {
        top: 75%;
    }

    .welcome .hello {
        margin-top: 50px;
    }

}

@media (orientation: landscape) and (min-width: 667px) {

    .welcome {
        margin-top: 0;
        width: 100%;
    }

    .hello {
        margin-top: 50px;
    }

    .welcome nav {
        display: none;
    }
}

@media (orientation: landscape) and (min-width: 1024px) {

    .welcome .hello {
        margin-top: 150px;
    }

    .middle {
        top: 85%;
    }

    .welcome p {
        font-size: 4rem;
    }

    .welcome h1 {
        font-size: 4rem;
    }

    .welcome h2 {
        font-size: 2.5rem;
    }

    .burger {
        display: none;
    }

    .welcome nav {
        display: inline-block;
    }

    .btn {
        width: 80px;
        height: 80px;
        margin: 0px 30px;
    }

    .btn i {
        line-height: 80px;
        font-size: 50px;
    }

    .welcome nav {
        width: 100%;
        text-align: center;
    }

    .s1,
    .s2,
    .s3,
    .s4,
    .s5 {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.3s linear;
        margin: 10px 20px;
        text-align: center;

    }
}

@media (orientation: portrait) and (min-width: 768px) {

    .hello {
        margin-top: 150px;
    }

    .welcome {
        width: 100%;
        margin-top: 0;
    }

    .mobile li {
        text-align: center;
        margin-top: 20px;
        width: 100%;
    }

    .welcome p {
        font-size: 5rem;
    }

    .welcome h1 {
        font-size: 5rem;
    }

    .welcome h2 {
        font-size: 3rem;
    }

    .mobile li a {
        font-size: 20px;
        margin: 0 10px;
    }

    .mobile .cta button {
        font-size: 25px;
    }

    .btn {
        width: 80px;
        height: 80px;
        margin: 0px 20px;
    }

    .btn i {
        line-height: 80px;
        font-size: 50px;
    }

    .burger {
        display: none;
    }

    .welcome nav {
        display: inline-block;
    }

    .s1,
    .s2,
    .s3,
    .s4,
    .s5 {
        display: inline-block;
        font-size: 20px;
        text-decoration: none;
        cursor: pointer;
        color: white;
        font-weight: 700;
        text-transform: uppercase;
        transition: 0.3s linear;
        margin: 10px 20px;
        text-align: center;

    }
}

@media (orientation: portrait) and (min-width: 1024px) {

    nav {
        width: 100%;
        text-align: center;
    }
}


/* BURGER */

.burger i {
    position: fixed;
    color: white;
    top: 30px;
    right: 30px;
    font-size: 30px;
}

aside {
    position: fixed;
    top: -200px;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 10vh;
    background-color: rgba(255, 255, 255, 0.8);
    transition: 0.3s linear;
    border-bottom: 5px solid red;
}

.burger:hover {
    cursor: pointer;
}

.burger i {
    display: none;
}

i.show {
    display: block;
}

aside.show {
    left: 0;
    top: 0;
    width: 100%;
    height: 200px;
}

.fa-times.show {
    color: white;
    top: 220px;
}

/* ABOUT */

.about {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(50, 50, 50);
    color: white;
}

.about h1 {
    width: 100%;
    margin-top: calc(20px + 8px);
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
}

.about p {
    width: 80%;
    text-align: center;
    font-size: 2rem;
    margin: 20px 0;
}

@media (orientation: landscape) and (min-width: 568px) {

    .about p {
        width: 60%;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {

    .about p {
        width: 50%;
    }

}

@media (orientation: portrait) and (min-width: 1024px) {
    .about h1 {
        font-size: 5rem;
    }

    .about p {
        font-size: 25px;
    }
}

/* OFFER */

.offer-section {
    background-color: rgb(50, 50, 50);
    width: 100%;
}

.offer-width {
    width: 100%;
}

.offer-title {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.offer-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.offer-box {
    width: 80%;
    text-align: center;
    color: #ddd;
    margin: 10px
}

.offer-icon {
    display: inline-block;
    width: 70px;
    height: 70px;
    transform: rotate(45deg);
    margin-bottom: 20px;
    margin-top: 15px;
    border: 3px solid white;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.offer-icon i {
    line-height: 70px;
    transform: rotate(-45deg);
    font-size: 26px;
}

.offer-title2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 5px;
}

.offer-desc {
    font-size: 14px;
    margin-bottom: 10px;
}

.offer-icon:hover {
    color: red;
    border: 3px solid red;
    box-shadow: 0px 0px 20px 0px red;
}

@media (orientation: landscape) and (min-width: 568px) {
    .offer-box {
        width: 35%;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {
    .offer-box {
        width: 20%;
    }

}

@media (orientation: portrait) and (min-width: 768px) {
    .offer-box {
        width: 22%;

    }

}

@media (orientation: portrait) and (min-width: 1024px) {
    .offer-title2 {
        font-size: 25px;
    }

    .offer-box {
        width: 25%;

    }

    .offer-desc {
        font-size: 20px;
        margin-bottom: 20px;
    }

    .offer-title {
        font-size: 5rem;
    }

}

/* PORTFOLIO */

.portfolio {
    background-color: rgb(50, 50, 50);
    width: 100%;
}

.portfolio h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.portfolio-box {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.box-webside {
    background-image: url(portfolio2.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto 20px;
    height: 130px;
    width: 230px;
    border: 3px solid white;
    box-shadow: 0px 0px 20px 0px white;
    transition: 0.3s linear;
    cursor: pointer;
}

.portfolio-title {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 18px;
    margin-bottom: 10px;
}

.portfolio-txt {
    margin: 0 auto;
    font-size: 14px;
    margin-bottom: 20px;
    color: white;
    width: 80%;
}

span {
    color: chartreuse;
    font-size: 15px;
}


.box-webside:hover {
    box-shadow: 0px 0px 20px 0px red;
    border: 3px solid red;
}

@media (orientation: landscape) and (min-width: 568px) {
    .portfolio-txt {
        width: 40%;
    }

    .box-webside {
        height: 250px;
        width: 350px;
        background-image: url(portfolio1.png);
    }

}

@media (orientation: portrait) and (min-width: 1024px) {
    .portfolio-txt {
        width: 40%;
    }

    .box-webside {
        height: 250px;
        width: 350px;
    }

    .portfolio h1 {
        font-size: 5rem;
    }

    .portfolio-txt {
        font-size: 20px;
    }

    .portfolio-title {
        font-size: 25px;
    }

}


/* SKILLS */


.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: rgb(50, 50, 50);
    width: 100%;
}

.skills h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 3rem;
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.um {
    margin-bottom: calc(20px + 8px);

}

.um img {
    width: 70px;
    height: 70px;
    border: 3px solid white;
    background-color: white;
    border-radius: 20px;
    margin: 0 10px;
}

@media (orientation: landscape) and (min-width: 736px) {
    .um img {
        margin: 0 20px;
    }
}

@media (orientation: landscape) and (min-width: 1366px) {
    .um img {
        margin: 0 40px;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .um img {
        margin: 0 30px;
    }

    .skills h1 {
        font-size: 5rem;
    }
}


/* CONTACT */

.contact {
    background-image: url(1920.jpg);
    background-position: center;
    background-size: cover;
    color: white;
    height: 40vh;
    position: relative;
}

.line2 {
    position: absolute;
    border-top: 8px dashed white;
    bottom: 40vh;
    transform: translateY(50%);
    left: 0;
    width: 100%;
}

.contact h1 {
    text-transform: uppercase;
    position: absolute;
    text-align: center;
    font-size: 3rem;
    top: calc(20px + 8px);
    width: 100%;
    color: white;
    margin-bottom: 20px;
}

.contact .middle {
    position: absolute;
    display: inline-block;
    top: calc(40% - 20px);
}

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

div.tel p,
div.name p,
div.email p {
    text-align: center;
    font-size: 15px;
    bottom: 0;
    right: 0;
}



@media (orientation: landscape) and (min-width: 568px) {

    .contact {
        height: 70vh;
    }

    .line2 {
        bottom: 70vh;
    }
}

@media (orientation: landscape) and (min-width: 667px) {

    .contact .btn {
        width: 50px;
        height: 50px;
    }

    .contact .btn i {
        line-height: 50px;
        font-size: 30px;
    }

}

@media (orientation: landscape) and (min-width: 1024px) {
    .contact {
        height: 40vh;
    }

    .line2 {
        bottom: 40vh;
    }

    .contact .btn {
        width: 80px;
        height: 80px;
    }

    .contact .btn i {
        line-height: 80px;
        font-size: 50px;
    }
}

@media (orientation: landscape) and (min-width: 1366px) {
    .contact {
        height: 30vh;
    }

    .line2 {
        bottom: 30vh;
    }

}

@media (orientation: portrait) and (min-width: 768px) {
    .contact {
        height: 25vh;
    }

    .line2 {
        bottom: 25vh;
    }
}

@media (orientation: portrait) and (min-width: 1024px) {
    .contact {
        height: 30vh;
    }

    .line2 {
        bottom: 30vh;
    }

    .contact h1 {
        font-size: 5rem;
    }

    div.tel p,
    div.name p,
    div.email p {
        font-size: 25px;
    }

    .contact .btn {
        width: 80px;
        height: 80px;
    }

    .contact .btn i {
        line-height: 80px;
        font-size: 50px;
    }

}